<div id="right-menu-upload-options" style="display: none">
    <ul>
        <li> <a id="rename-file"> Rename file </a></li>
        <li> <a id="download-file"> Download File</li>
        <li> <a id="delete-file"> Delete file </a></li>
    </ul>
</div>
