.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FFC0CB 50%, #06f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0%;
  z-index: -1;
}


.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 8s;
}


.bg3 {
  animation-duration: 9s;
}


h1 {
  color: lightcyan;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px;
  font-family: "Lucida Console", "Courier New", monospace;


}

.rectangle-middle {

  width: 600px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.rectangle-middle video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-middle .home-button {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(33, 150, 243, 0.8);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.rectangle-middle .home-button:hover {
  background-color: pink;
}


.topnav {   
  position: relative;   
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 70px;

}

.topnav ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute
}

.topnav li {
  padding: 10px 15px;

}

.topnav a {
  color: black;
  text-decoration: none;
}

.topnav a:hover {

  border-radius: 4px;
}

.titles-container h1 {

  margin: 0; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 30;
}

.center-wrapper {

  text-align: center;

}


.Welcomemsg {
  display: inline-block;
  overflow: hidden;
  font-family: 'Courier New', monospace;
  font-size: 35px;
  color: #4169E1;
  margin-top: 20px;
  font-style: italic;
  white-space: nowrap;
  border-right: .15em solid white;
  

}

.topnav .nav-left li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 4px 4px 8px #0e0e0e, -4px -4px 8px #2e2e2e;
  transition: all 0.2s ease;
  background-color: lightpink;
}


.topnav .nav-left li a:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 10px #0e0e0e, -6px -6px 10px #2e2e2e;
}

.topnav .nav-left li a:active {
  transform: translateY(2px);
  box-shadow: inset 4px 4px 6px #0e0e0e, inset -4px -4px 6px #2e2e2e;
}

.profile-dropdown {
  position: absolute;  
  top: 30px;            
  right: 20px;         
  cursor: pointer;
  list-style: none;
}

.profile-dropdown img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-arrow {
  font-size: 15px;
  color: #333;
  margin-left: 5px;
  transition: transform 0.3s ease;

}

.profile-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  z-index: 100;
  align-items: center;
  gap: 5px;
}


.profile-dropdown a {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: #333;
}
.profile-dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu li a {
  color: #333;
  padding: 10px 15px;

}

.login{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #333333;
}

.login p{
  margin-bottom: 20px 0;
  font-size: 20px;
}

.login h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #333333;
  margin-bottom: 20px;
}

.login label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  margin-top: 50px;
}

.loginbtn {
  color: white;
  padding: 6px 15px;
  background-color: #FFC0CB;
  cursor: pointer;
}

.cancelbtn {
  color: white;
  padding: 6px 15px;
  background-color: grey;
  cursor: pointer;
}

.clearfix {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}


.login input[type="text"],
.login input[type="password"] {
  width: 40%;
  display: block;
  margin: 0 auto;
  height: 30px;
  font-size: 16px;


}

.sign-in {
  text-align: center;
  padding: 16px;
}

.sign-in h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #333333;
  margin-bottom: 20px;

}

.sign-in label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  margin-top: 30px;

}

.signupbtn {
  color: white;
  padding: 6px 15px;
  background-color: #FFC0CB;
  cursor: pointer;
}

.sign-in input[type='text'], input[type='password'] {
  width: 40%;
  display: block;
  margin: 0 auto;
  height: 30px;
  font-size: 16px;
}

.file-header {

  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:50%;
  position:absolute;
  top:80px;
  left:370px;
}

.file-header h3 {
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 8px;
  background-color: #A8A8A8;
  color: #f0efef;
  border: 1px solid;
  border-radius: 8px;
}

.dnld-img {
  width: 50px;
  height: 47px;
  cursor: pointer;
}

.file-info-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.dnld-img :hover {
  cursor: pointer;
}


.note-editor {
  width: 50%;
  height: 60vh;
  margin: 50px auto;
  background-color: white;
  border: 2px;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

textarea:focus {
  outline: none; 
}


.buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto 0 auto;  
}

.save-btn {
  background-color: #FFC0CB;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
  margin:auto;  
}

.leftbuttons {
  display: flex;
  gap: 8px;
}

.grammar-btn {
  background-color: #FFC0CB;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
}

.favorite-btn{
  background-color: #FFC0CB;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
}

.grammar-issues {
  width: 50%;
  height: 300px;
  margin: 0 auto;
  background-color: white;
  border: 2px;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  font-size: 16px;
  overflow-y: scroll;
}

.grammar-issues ul li {
  margin-bottom: 15px;
}
#backBtn {
  background-color: grey;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
}

.content-display {
  white-space : pre-wrap;
  word-break: break-word;
  overflow-x: hidden;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
}

.side-nav {
  position: fixed;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.2s ease;
  margin-bottom: 40px;
}

.side-nav .bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  color: grey;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 3px;
}

.side-nav li a {
  text-decoration: none;
  color: white;
  margin-right: 50px;     
  font-size: 20px;
  line-height: 30px;

}

.side-nav ul li {
  list-style-type: none;
}

.side-nav li {
  align-items: center;
  display: flex;
  gap:30px;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background-color: #333;
    transition: 0.4s;
}


#sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; 
    background-color: lightblue;
    z-index: 50; 
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  
}

.nav-icon
{
  width: 40px;
  height: 40px;
  margin-bottom: 40px; 
}

#sidebar.open {
    transform: translateX(0); 
}


#main-content {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0;
}

#main-content.pushed {
    margin-left: 250px;
}

.form-group {
  margin-bottom: 40px;
}

#folderBtn {
    display: flex;
}

.file-list {
  font-size: 18px;
  text-align: center;
  display: flex;
  margin-top: 30px;
}

.file-list ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.file-list ul li {
  list-style: none;
  margin-right: 30px;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}

.files-in-folder {
  text-align: center;
}

.file-item .file-img {
  width: 100px;
  height: 90px;
  margin-right: 10px;
  display: flex;
}

.file-list li{
  list-style-type: none;
}

.files-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;        
  gap: 20px;                  
}

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}


.folder-item .folder-img {
  width: 100px;
  height: 90px;
  margin-right: 10px;
  display: flex;
}

.folder-list {
  font-size: 18px;
  text-align: center;
  display: flex;
  margin-bottom: 10px;
}

.folder-list ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:15px;

}

.folder-list ul li {
  list-style: none;
  margin-right: 30px;
}

.folder-contents {
  width: 50%;
  display: flex;
  height: 50%;
  align-items: center;
  margin: 30px auto 0 auto;
  justify-content: flex-start;
}

.folder-contents li {
  list-style-type: none;

}

.note-content {
  width: 50%;
  height: 700px;
  margin: 0 auto;
  background-color: white;
  border: 2px;
  border-color: pink;
  border-width: 5px;
  border-style: solid;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  font-size: 16px;
}

#editBtn {
  background-color: #FFC0CB;
  color: white;
  padding: 6px 15px;
  cursor: pointer;
  margin:auto;  
  margin-left: 360px;
  margin-top: 20px;
}

#folderBtn {
  background-color: #DDA0DD;
  color: white;
  border-radius: 5px;
  box-shadow: #4169E1;
  padding: 5px 10px;
  margin-top: 15px;
  cursor: pointer;
}

#Addbtn {
  background-color: #DDA0DD;
  color: white;
  border-radius: 5px;
  box-shadow: #4169E1;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  
}

.highlighted {
  background-color: #e0f2f7; 
  border: 2px solid #007bff; 
}

#folderImg{
  width: 70px;
  height: 80px;
  margin-left: 20px;
  cursor: pointer;
  pointer-events: none;
}

.folder-display {
  width: 80%; 
  max-width: 960px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#right-menu-options {
  position: absolute;
  background-color: pink;
  border: 1px solid #ccc;
  padding: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 10px;
  color: white;
}

#right-menu-options li {
  padding: 5px 8px; 
  cursor: pointer;
}

#right-menu-options :hover{
  display: block;
}


@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F9629F; }
}